<div class="row row-cols-1 row-cols-md-2 g-3 mb-3" id={@id}>
  <%= for offer <- @offers do %>
    <.live_component module={ITJWeb.Components.OfferCard} id={offer.id} offer={offer} />
  <% end %>
</div>
