<main>
  <h2>
    <%= @company.title %>
  </h2>
  <ul class="list-unstyled">
    <%= for url <- ITJ.Company.get_urls(@company) do %>
      <% domain = ITJ.Link.get_domain(url) %>
      <li>
        <a href={url} target="_blank">
          <i class={ITJ.Link.get_icon(domain)}></i>
          <%= domain %>
        </a>
      </li>
    <% end %>
  </ul>
</main>
