<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <.live_component
        module={ITJWeb.Components.OfferSearch}
        id="offer_search"
        search={@search}
        cities={@cities}
      />
    </div>
    <div class="col">
      <.live_component module={ITJWeb.Components.OfferList} id="offer_list" offers={@offers} />
    </div>
  </div>
</div>
